{% extends 'base.html' %}
{% block center_body %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
            <h3>用户中心</h3>
            <div class="information clearfix">
                <a href="/user/myself_information/"><img src="{{ MEDIA_URL }}{{ user.ulogo }}" alt="头像"></a>
                <div class="information1 clearfix">
                    {% if user.ucheck_passOrfail == False %}
                        <a>未实名认证</a>
                    {% else %}
                        <a style="color: cyan">已实名认证</a>
                    {% endif %}
                </div>
            </div>
			<ul>
                <li><a href="{% url "df_user:info" %}">· 个人信息</a></li>
                <li><a href="{% url "df_user:check_user" %}" class="active">· 实名认证</a></li>
                <li><a href="{% url "df_user:publishers" %}">· 发布商品</a></li>
                <li><a href="{% url "df_user:changeInformation" %}">· 修改资料</a></li>
                <li><a href="{% url "df_user:changeInPwd" %}">· 修改密码</a></li>
				<li><a href="{% url "df_user:order" 1 %}">· 全部订单</a></li>
				<li><a href="{% url "df_user:site" %}">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">

				<h3 class="common_title2">用户实名认证</h3>
				<div class="site_con">
					<form action="{% url "df_user:check_user" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
						<div class="form_group">
							<label>真实姓名：</label>
							<input type="text" name="name" class="user_info_check">
						</div>
                        <div class="form_group">
                            <label>证件类型：</label>
                            <select name="type_id" class="user_info_check">
                              <option value="大陆身份证">大陆身份证</option>
                              <option value="港澳台身份证">港澳台身份证</option>
                              <option value="护照">护照</option>
                            </select>
                        </div>
                        <div class="form_group">
							<label>证件号码：</label>
							<input type="text" name="tel" class="user_info_check">
						</div>
                        <div class="form_group">
                            <label>上传证件图片：</label>
                            <input type="file" name="pic" class="user_info_check">
                        </div>
						<input type="submit" name="" value="发布" class="info_submit">
					</form>
				</div>
		</div>
	</div>
{#  弹窗提示  #}
    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}
{% endblock center_body %}